numpy
torch
torchvision
ignite
tensorboard
torchaudio
jupyter
matplotlib
scikit-learn
tqdm
ffmpeg-python
polyaxon
mock
tensorboardX
moviepy
pynvml
flake8
flake8-docstrings
mypy
pytest
pytest-cov
pytest-benchmark
pytest-mypy
pytest-mock
h5py
pre-commit
vulture
jupytext
snakeviz
networkx
seaborn
probscale
gputil
tabulate
minio
boto3
overrides
importlib_resources
memory_profiler
torch-geometric